[submodule "lwrcl/libraries/src/yaml-cpp"]
	path = lwrcl/libraries/src/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "lwrcl/data_types/src/ros-data-types-for-fastdds"]
	path = lwrcl/data_types/src/ros-data-types-for-fastdds
	url = https://github.com/tatsuyai713/ros-data-types-for-fastdds.git
